@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */

html {
  font-size: 62.5%;
}

body {
  position: relative;
  display: inline-block;
  min-width: 100%;
  margin: 0;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN",Meiryo ,sans-serief;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.triangle.a {
  position: absolute;
  top: 0;
  width: 1120px;
  height: 500px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  z-index: -2;
}

.triangle.a::before {
  content: '';
  position: absolute;
  top: 0;
  border: 560px solid transparent;
  border-bottom-width: 250px;
  border-top-width: 250px;
  border-bottom-color: #fff;
  border-right-color: #fff;
  z-index: 1;
}

body .wrapper {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  min-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* --------------------------------
 * header
 * -------------------------------- */

header {
  width: 80%;
  margin: 10px 0 0 100px;
}

header .title {
  font-size: 4.0rem;
  font-weight: normal;
  text-align: left;
}

/* --------------------------------
 * nationwide
 * -------------------------------- */

.nationwide-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1020px;
  height: 300px;
  font-size: 1.2rem;
  text-align: center;
  margin: 40px auto;
}

.nationwide-info .graph {
  display: block;
  min-width: 500px;
  height: 280px;
  border-radius: 5%;
  border: 1px solid #b9e8ff;
  background-color: #fff;
  padding: 10px;
}

.nationwide-info .graph .chart {
  height: 250px;
}

.nationwide-info .data {
  display: block;
  min-width: 500px;
  height: 280px;
  border-radius: 5%;
  border: 1px solid #b9e8ff;
  font-size: 1.5rem;
  padding: 10px;
  background-color: #fff;
}

.nationwide-info .loader {
  margin: 105px auto;
}

.data .date {
  font-weight: bold;
  font-size: 2.0rem;
}

.data .title {
  display: inline;
  font-weight: bold;
  font-size: 2.0rem;
}

.data .box-wrapper {
  position: relative;
}

.data .box {
  position: relative;
  display: inline-block;
  border: 3px solid #e06666;
  border-radius: 10%;
  width: 120px;
  height: 120px;
  margin: 10px 10px 0px 0px;
}

.data .box:first-child {
  margin-left: 40px;
}

.infection.box::before,
.dead.box::before,
.recovery.box::before {
  content: "";
  position: absolute;
  bottom: -39px;
  left: 37%;
  border: 19px solid transparent;
  border-top: 20px solid #fff;
  z-index: 1;
}

.infection.box::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 32%;
  border: 25px solid transparent;
  border-top: 25px solid #e06666;
}

.box.recovery {
  border-color: #93c47d;
}

.recovery.box::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 32%;
  border: 25px solid transparent;
  border-top: 25px solid #93c47d;
}

.dead.box {
  border-color: #999999;
}

.dead.box::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 32%;
  border: 25px solid transparent;
  border-top: 25px solid #999999;
}

.box.stayhome {
  border-color: #ffd966;
}

.box .category {
  font-size: 2.0rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

.box .num {
  text-align: center;
  font-weight: bold;
  font-size: 2.0rem;
  margin: 0;
}

.data .total-num {
  position: absolute;
  bottom: -75px;
  width: 120px;
  font-weight: bold;
  text-align: center;
}

.data .current-num {
  position: absolute;
  bottom: -105px;
  width: 120px;
  font-weight: bold;
  text-align: center;
}

.data .total {
  position: absolute;
  font-size: 1.8rem;
  margin: 30px 0 0 15px;
  text-align: left;
}

.data .current {
  position: absolute;
  font-size: 1.8rem;
  margin: 61px 0 0 15px;
  text-align: left;
}

/* --------------------------------
 * map
 * -------------------------------- */

.map-wrap {
  position: relative;
  width: 1020px;
  height: 600px;
  border: 1px solid #b9e8ff;
  border-radius: 2%;
  background-color: #fff;
  text-align: center;
  margin: 5px auto;
}

.map-wrap .chart {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 730px;
  height: 580px;
  padding: 10px;
}

.map-wrap .chart .hokkaido {
  position: absolute;
  left: 40px;
  top: 20px;
  width: 230px;
  height: 230px;
  z-index: 2;
}

.map-wrap .chart .middle {
  position: absolute;
  left: 20px;
  top: 30px;
  width: 630px;
  height: 500px;
  z-index: 1;
}

.map-wrap .chart .okinawa {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 280px;
  height: 230px;
  z-index: 2;
}

.map-wrap .chart .map-line-hokkaido {
  position: absolute;
  left: 30px;
  top: 0px;
}

.map-wrap .chart .map-line-okinawa {
  position: absolute;
  right: 0px;
  bottom: 10px;
}

.map-wrap .chart .label-box {
  position: absolute;
  left: 40px;
  bottom: 5px;
  width: 700px;
  height: 15px;
}

.map-wrap .chart .label-box .label::before {
  display: inline-block;
  content: '';
  vertical-align: text-top;
  width: 13px;
  height: 13px;
  font-size: 1.2rem;
  margin: 0px 5px;
  border: #fff solid 1px;
  background-color: #8c0a00;
}

.map-wrap .chart .label-box .label:nth-of-type(1)::before {
  background-color: #8c0a00;
}

.map-wrap .chart .label-box .label:nth-of-type(2)::before {
  background-color: #bf2a11;
}

.map-wrap .chart .label-box .label:nth-of-type(3)::before {
  background-color: #ea5432;
}

.map-wrap .chart .label-box .label:nth-of-type(4)::before {
  background-color: #ff771d;
}

.map-wrap .chart .label-box .label:nth-of-type(5)::before {
  background-color: #ff9d56;
}

.map-wrap .chart .label-box .label:nth-of-type(6)::before {
  background-color: #ffceab;
}

.map-wrap .chart .label-box .label:nth-of-type(7)::before {
  background-color: #eaeaea;
}

.map-wrap .chart .label-box .label {
  width: 100px;
  height: 50px;
  margin: 5px;
  font-size: 1.4rem;
}

.map-wrap .data {
  position: absolute;
  top: 0;
  right: 0;
  width: 270px;
  height: 510px;
  border: 1px solid #b9e8ff;
  border-radius: 2%;
  padding: 10px;
  background-color: #fff;
}

.map-wrap .prefecture-name {
  display: block;
  height: 30px;
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
  margin: 5px 0;
}

.map-wrap .data .box {
  margin: 0;
}

.map-wrap .infection.box {
  margin: 0 25% 0;
}

.map-wrap .stayhome.box {
  margin-left: 3px;
}

.map-wrap .recovery.box,
.map-wrap .stayhome.box,
.map-wrap .dead.box {
  margin-top: 97px;
}

.map-wrap .total {
  margin-top: 32px;
}

.map-wrap .current-num,
.map-wrap .total-num {
  font-size: 1.5rem;
}

.map-wrap .button {
  position: absolute;
  bottom: 10px;
  left: 35px;
  width: 200px;
  height: 40px;
  border: 1px solid #8fd3f4;
  border-radius: 15px;
  color: #000;
  background-color: #b9e8ffff;
  text-decoration: none;
  text-align: center;
  font-size: 1.7rem;
  line-height: 3.4rem;
}

.map-wrap .button:hover {
  border: 2px solid #4fd3f4;
  opacity: 0.7;
}

.map-wrap .loader {
  margin: 270px auto;
}

/* --------------------------------
 * prefecture
 * -------------------------------- */

.prefecture-table {
  margin: 10px 0 10px;
  font-size: 1.5rem;
  width: 1020px;
  border-spacing: 0;
  margin: 5px auto;
  border-collapse: collapse;
}

.prefecture-table .table-section {
  float: left;
  width: 33%;
  margin: 0;
}

.prefecture-table dl {
  overflow: hidden;
}

.table-section div {
  display: flex;
  margin-right: 3px;
}

.table-section dt,
.table-section dd {
  width: 50%;
  text-align: center;
  margin: 0;
  line-height: 2;
}

.table-section dd {
  text-align: right;
  font-weight: bold;
}

.table-section a {
  text-decoration: none;
  color: #000;
}

.table-section div:nth-of-type(odd) dt,
.table-section div:nth-of-type(odd) dd {
  background-color: #e4e4e4;
}

.table-section:nth-of-type(1) div:nth-of-type(1) dd {
  border-left: 1px solid #fff;
  background-color: #b9e8ffff;
  font-weight: normal;
  text-align: center;
}

.table-section:nth-of-type(1) div:nth-of-type(1) dt {
  background-color: #b9e8ffff;
}

/* --------------------------------
 * detail
 * -------------------------------- */

.detail {
  margin: 5px auto;
  width: 1020px;
  height: 600px;
  border: 1px solid #8fd3f4;
  border-radius: 2%;
}

.detail .graph {
  margin: 5px 0 10px;
}

.detail .graph .title {
  font-weight: bold;
  font-size: 2.0rem;
  margin-left: 25px;
}

.detail .graph .chart {
  height: 500px;
  margin: 10px;
}

.detail .loader {
  margin: 270px auto;
}

/* --------------------------------
 * footer
 * -------------------------------- */

footer {
  display: block;
  height: 100px;
  width: 100%;
  background-color: #e4e4e4;
  margin-top: 10px;
}

footer .copyright {
  text-align: center;
  color: #000;
  margin: 0;
  line-height: 8;
}

/* --------------------------------
 * Loading
 * -------------------------------- */

.loader,
.loader:before,
.loader:after {
  background: #8fd3f4;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #8fd3f4;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
